body{

margin:0;

overflow:hidden;

font-family:Arial;

background:#08111f;

}



#map{

position:absolute;

top:0;

left:0;

width:100vw;

height:100vh;

z-index:1;

}





#hud,
#playersPanel,
#squadPanel,
#missionsPanel,
#invitePanel,
#requestPanel{

position:absolute;

z-index:1000;

padding:15px;

border-radius:15px;

background:rgba(0,0,0,.85);

color:white;

backdrop-filter:blur(10px);

border:1px solid cyan;

box-shadow:0 0 20px cyan;

}





#hud{

top:10px;

left:10px;

width:170px;

}




#playersPanel{

top:10px;

right:10px;

width:220px;

max-height:250px;

overflow:auto;

}




#squadPanel{

top:280px;

right:10px;

width:220px;

}




#missionsPanel{

top:400px;

left:10px;

width:150px;

}




#invitePanel{

top:10px;

left:220px;

width:220px;

display:none;

}




#requestPanel{

top:200px;

left:220px;

width:220px;

display:none;

}




.playerItem{

padding:8px;

margin-top:5px;

border-radius:6px;

background:#1f2937;

cursor:pointer;

}




.playerItem:hover{

background:cyan;

color:black;

}




button{

width:100%;

padding:10px;

margin-top:10px;

border:none;

border-radius:8px;

background:cyan;

cursor:pointer;

font-weight:bold;

}




button:hover{

background:#66ffff;

}